<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/css/style.css"><!-- Resource style -->
  <script src="/js/modernizr.js"></script><!-- Modernizr -->

  <title>Share Your Link</title>
</head>
<body>
<header>
  <h1>Share your link.</h1>
</header>
<div class="cd-tabs">
  <nav>
    <ul class="cd-tabs-navigation">
      <li><a data-content="links" class="selected fa fa-file-code-o" href="#link"> Error </a></li>
    </ul> <!-- cd-tabs-navigation -->
  </nav>

  <ul class="cd-tabs-content">
    <li data-content="links" class="selected">
      <h2>Oops!</h2>
      <br/>
      <br/>
      <p>Looks like you forgot to add something to your form.</p>
      <p>You can go back <a href="/">here.</a> Don't mess up next time. </p>
    </li>

    </li>
  </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->

<!--footer -->
<div class="footer">
  <p> Made with <i class="fa fa-heart"></i> - © Adrianna Valdivia 2017 </p>
</div>

<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>

</body>
</html>
