<!DOCTYPE html>
<html>
<head>
  
<link type="text/css" rel="stylesheet" href="public/css/bootstrap.css"/>
<script src="public/js/jquery-1.12.2.min.js"></script>
<script src="public/js/bootstrap.js"></script>

<style>
  .container {
    background-color:lightgray;
    margin-top:30px;
    padding-bottom:30px;
   }
</style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>My Links</title>

</head>

<body>
  
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My Links</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><font color = "red"> Home </font></a></li>
      <li class="active"><a href="/about"><font color = "red"> About </font></a></li>
    </u>
      
    
    

  </ul>
  </div>
</nav>


<div class="container">

<h1>List of YouTube Links</h1>

<ul>
<% @links.each do |link| %>

  <div class="media">
      <div class="media-left">
        <a href="<%= link.link %>"> <img class="media-object" src="http://a4.mzstatic.com/us/r30/Purple3/v4/d6/e4/12/d6e41207-d0ee-96c5-6f9d-e789c6e4caf7/icon128-2x.png" alt="..." height="100" width="100"> </a>
  </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link.author %></h4>
        <p><%= link.comment %></p>
      </div>
  
  <u>
  <form action="/" method="POST">
   Comment: <input type="text" name="new_comment[new_comment]"><br/>
    <input type="submit" class="btn btn-info" value="Submit">
  </form>
 
   <% @comment_section.each do |new_comment| %>
    <p><%= new_comment.new_comment %></p>
   <% end %>
 </u>
  
<% end %>
</ul>

<a href="/create" class="btn btn-info" role="button">Add More</a>
</div>

</body>

</html>
